
bin/
obj/
TestResults/
*.log

*.user
*.suo
*.userosscache
*.sln.docstates

.idea/

.vscode/

_ReSharper*/
*.DotSettings.user

coverage/
*.coverage
*.coveragexml

*.tmp
*.bak
*.old

/.tools/

.DS_Store
._*
Thumbs.db